//
// Sections
//

section.resume-section {
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
  max-width: 75rem;

  .resume-section-content {
    width: 100%;
  }
}

@include media-breakpoint-up(md) {
  section.resume-section {
    min-height: 100vh;
    padding: 4rem 2rem;
  }
}

@include media-breakpoint-up(lg) {
  section.resume-section {
    padding: 5rem 3rem;
  }
}

// Subsections within sections
.subsection {
  padding-top: 2rem;
}
